html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

.offer {
  margin: 3%;
  padding: 3%;
  background: rgb(252,70,107);
  cursor: pointer;
}

.offers-container {
  overflow: scroll;
  position: relative;
}

.title {
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgb(241, 159, 210);
  border-radius: 5px;
  margin: 0 5%;
}

.no-jobs {
  display: flex;
  justify-content: center;
  height: 85vh;
  align-items: center;
}
